<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AmberEyes.StarletBooking">

  <application
      android:label="@string/app_name"
      android:icon="@mipmap/app_icon"
      android:theme="@style/Theme.AppCompat.NoActionBar">
    <activity android:name="com.unity3d.player.UnityPlayerGameActivity"
              android:exported="true"
              android:screenOrientation="fullUser"
              android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
              android:hardwareAccelerated="false"
              android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data android:name="unity.splash-mode" android:value="0" />
    <meta-data android:name="unity.allow-resizable-window" android:value="false" />
    <meta-data android:name="android.notch_support" android:value="true" />
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="tel" />
    </intent>
    <package android:name="com.whatsapp" />
  </queries>

</manifest>
